/* Navbar styles */
.navbar{
  z-index: 50;
}
/* All button styles */
.button{
  border-radius: 34px;
  border: none;
  color: white !important;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, orange, rgba(205, 135, 5, 0.858));
  box-shadow: 0px 20px 24px 3px rgb(144, 107, 16) ;
}
.button:hover{
  background: white;
  cursor: pointer;
  font-weight: 500;
  color: rgba(205, 135, 5, 0.858) !important;
  border: 1px solid rgba(205, 135, 5, 0.858);
}
h1{
  color: rgb(18, 3, 74);
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color:rgba(205, 135, 5, 0.858);
}
/* Hero Section styles */
.hero-text>:nth-child(1){
  color: rgb(18, 3, 74);
  font-size: 3rem;
  font-weight: bold;
}
.hero-text>:nth-child(3){
  color:rgba(205, 135, 5, 0.858) ;
  font-size: 3rem;
  font-weight: bold;
}
.hero-text>:nth-child(4){
  color: rgb(85, 80, 80);
}
.hero-icons{
  margin-top: 15px;
}
.hero-icons>*{
  transform: scale(0.3);
}
.hero-icons>*:hover{
  cursor: pointer;
}
.hero-images>img{
  transform: scale(.8);
  background-color:rgb(239, 235, 235);
  border-radius: 50%;
  box-shadow: 0px 20px 24px 3px rgb(144, 107, 16);
}

@media screen and (max-width:576px) {
  .hero-images>*{
    transform: scale(.8);
    top: -20;
  }  
}
/* About section styles */
.about>:nth-child(1){
  transform: scale(.8);
}
.about-text>:nth-child(1){
  color: rgb(18, 3, 74);
}
/* Contact styles */
.contact>img{
transform: scale(1.1);
}
.contact-text>:nth-child(1){
  color: rgb(18, 3, 74);
}
@media screen and (max-width:576px) {
  .contact>img{
    transform: scale(.9);
    }  
}
/* Skills stykes */
.skills{
  background-color: rgb(18, 3, 74);
}
.skills:hover{
  transform: scale(1.1);
  transition: 2s;
}